extends layout

block head
  link(rel='stylesheet', href='/stylesheets/signin.css')

block content
  .main.container
    .signin-container
      h1.display-4.m-b-2 Sign up

      form(method='POST' action='/users/signup')
        table.signin-input
          tr
            td
              input#name.form-control.signin-input(type='text', placeholder='Username' name='username')
          tr
            td
              input#pw.form-control.signin-input(type='email' name='email', placeholder='Email')
          tr
            td
              input#pw.form-control.signin-input(type='password' name='password', placeholder='Password')
          tr
            td
              button.btn.btn-primary(type='submit') Sign up